/* Panel Inicial*/
#panel_inicial{
    background-color: rgba(81, 214, 170, 0.699);
    display: block;
    width: 100%;
    height: 100%;
}
/* Panel COntenido*/
#panel_contenido{
    position: absolute;
    /*background-color: rebeccapurple;*/
    display: block;
    top: 8%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%;
    height: 84%;

}

/* INPUT - Cargar archivo  */
.input_url {
    position: relative;
    left: 0%;
    width: 90%;
    height: 120%;
  }

#panel_opciones{
    position: absolute;
    /*background-color: green;*/
    display: block;
    top: 2%;
    left: -5%;
    right: 0;
    width: 77%;
    height: 15%;
}

/* BOTON - Ejecutar  */
#boton_cargar{
    position: absolute;
    top: 2%;
    right: 0%;
    width: 30%;
    height: 10%;
    /*background-color:blue;*/
}
.boton_redondo{
    display: block;
    top: 0;
    left: 100;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: greenyellow;
}

/* BOTON - Login  */
#boton_login{
    position: absolute;
    top: 2%;
    right: -10%;
    width: 30%;
    height: 10%;
    /*background-color:blue;*/
}

/* BOTON - Logout  */
#boton_logout{
    position: absolute;
    top: 1.5%;
    right: -20%;
    width: 30%;
    height: 10%;
    /*background-color:blue;*/
}

/* TEXTAREA 1 */
#editor{
    position: relative;
    top: 30%;
    left: -5%;
    width:70%; 
    height: 70%;
    font-size: 37px;
    color: rgb(224, 224, 224);
    text-align-last: left;
}
textarea{
    width:99%; 
    height: 99%;
    text-align-last: left;
    /*background-color: #b9bdbe;*/
}

/* TEXTAREA 2 */
#consola{
    position: relative;
    top: -40%;
    left: 70%;
    width: 35%; 
    height: 70%;
    font-size: 37px;
    color: rgb(224, 224, 224);
    text-align-last: left;
}