<!-- Panel - Inicial  -->
<div id="panel_inicial">

</div>
<!-- Panel - Contenido  -->
<div id="panel_contenido">
    <!-- Dentro del panel input boton  -->
    <div id="panel_opciones">
        <!-- imput - Cargar archivo  -->
        <mat-form-field class="input_url">
            <mat-label>Ingrese comnado que desea ejecutar</mat-label>
            <input matInput type="text" [(ngModel)]="comand">
        </mat-form-field>
    </div>
    <!-- Boton - Cargar archivo  -->
    <div id="boton_cargar">
        <button mat-fab  class="boton_redondo" (click)="compilar()">
            <mat-icon>play_arrow</mat-icon>
        </button>
    </div>
    <!-- Boton - LOGIN  -->
    <div id="boton_login">
        <button mat-fab  class="boton_redondo_rojo" (click)="salir()">
            <mat-icon>face</mat-icon>
        </button>
    </div>
    <div id="image_reporte">
        <!--<img alt="" ng-src="{{Resultados[0].reporte}}"/> -->
        <img ng-src="/tree.jpg"/>
    </div>
    
</div>





  